:root{
    --blanco: #ffffff;
    --azul: #4769DE;
    --rosa: #F55B9D;
    --amarillo:#DEAB47;
    --verdeClaro: #71FA50;
    --verde: #496F52;
    --oscuro: #212121;
}
 
html{

    font-size: 62.5%;
    box-sizing: border-box;
}



body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image:(to top, var(--gris) 0%, var(--blanco) 100%);
    background-color: #f1f1f1;
}


*, *::before, *:after{

    box-sizing: inherit;
}


h1{
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bold;
}
h2{
    font-size: 2rem;
    text-align: center;
    color: #580a31;
    
}


.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(84,84,84,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(84,84,84,1);
    box-shadow: 0px 5px 15px 0px rgba(84,84,84,1);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
    
}


.contenedor{
    max-width: 140rem;
    margin: auto;
}


.d-block, .w-100{
    height: 100%;
    width: 70%;
}



.header{
    display: flex;
    flex-direction: column;
}

.presentacion .frase {
   
    flex-direction: row;
    justify-content: space-between;
}



.logo{
    height: 10rem;
}


.titulo , .frase{

    font-size: 3.8;
    text-align: center;
    color: var(--verde);
}
.frase{
    color: #580a31;
    font-size: 2;
    margin-bottom: 2rem;
}

.hero{
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.nav-bg{
    background-color: var(--azul);
}

.navegacion-principal {
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
}

 @media (min-width: 768px) { 
    .navegacion-principal{
        flex-direction:row;
        justify-content:space-between;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--amarillo);
    color: var(--oscuro);

}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.contenido p {
    width: 80rem;
    
}

.contenido a  {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    text-transform: uppercase;
}


 @media (min-width: 768px) { 

    .noticias{

        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2, 2fr);
        column-gap: 2rem;
    }
    
}

.titulo-sec{
    margin-top: 2rem;
    font-size: 3rem;
    
}

.card-img-top{

    height: 20;

}

.barra-buscador{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}


 @media (min-width: 780px) {
     
    .barra-buscador{
        flex-direction: row;
        justify-content: space-between;
    }
    
}
 .buscador{
    margin-left: 5rem;
    height: 50;
}
.buscar{
    margin-top: 5rem;
    width: 20rem;
    border: #DEAB47;
    height: 4;
    border-radius: .5rem;
}

 @media (min-width: 780px) { 
    
    .buscar{
        width: 50rem;
    }
}